{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Details</title>
    <link rel="shortcut icon" href="{% static 'Render/img/glug.ico'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'Render/fontawesome-free/css/all.min.css'%}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700">
    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic'>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'Render/css/sty.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'Render/magnific-popup/magnific-popup.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'Render/css/creative.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'Render/css/auth.css'%}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger font-weight-bold" href="#page-top">GITAM GLUG</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item font-weight-bold">
                        <a class="nav-link js-scroll-trigger" href="#currentProject">{{request.user.username}}</a>
                    </li>
                    <li class="nav-item font-weight-bold">
                        <a class="nav-link js-scroll-trigger" href="/#Discuss">Discuss Fourm</a>
                    </li>
                    <li class="nav-item font-weight-bold">
                        <a class="nav-link js-scroll-trigger" href="/members/member">Members</a>
                    </li>
                    <li class="nav-item font-weight-bold">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item font-weight-bold">
                        <a class="nav-link js-scroll-trigger" href="#">Hall Of Fame</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-link mr-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-2x fa-user-cog"></i>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Password</a>
                <a class="dropdown-item" href="logout">Sign out</a>
            </div>
        </div>
    </nav>


</body>
</html>